/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(41, 46, 55);
  color: white;
 
}

/* Header Styles */
.App-header {
  background-color: rgb(29, 32, 34); /* Black header background */
  color: white; /* White text color */
  position:relative;
  padding:1rem;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  border-bottom: 1px solid skyblue;
}

/* Navigation Links */
.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav-list li {
  margin: 0 30px;
  font-size: 18px;
}
.nav-list li :hover {
 color: rgb(122, 217, 255);
}

.nav-list a {
  text-decoration: none;
  color: rgb(255, 255, 255); /* White link text color */
}

/* Logo Styles */
.App-header svg {
  max-width: 100px; /* Adjust the logo's max width as needed */
  height: auto;
}

/* Main Content Styles (Add your specific styles here) */
main {
  padding: 2rem;
  /* White background for main content */
  color: rgb(255, 255, 255); /* Black text color */
}

/* Apply styles to the footer */
.App-footer {
  background-color: rgb(29, 32, 34);
  color: white;
  text-align: center;
  position:fixed;
  bottom:0;
  width: 100%;
  height: 7%;
  align-items: center;
  vertical-align: middle;
  
  border-top: 1px solid rgb(122, 217, 255);


}

/* Style the text within the footer */
.App-footer p {
  align-items: center;
  vertical-align: middle;
  font-size: 15px;
}